# Introdução ao pandas

Pandas é um biblioteca para manipulação e análise de dados, escrita em Python. Essa é a biblioteca perfeita para iniciar suas análises exploratórias de dados, pois ela nos permite ler, manipular, agregar e plotar os dados em poucos passos.

Busca comentários jsonplaceholder

In [75]:
import requests
import pandas as pd

def getCommentRequest(start, limit):
    response = requests.get(f'https://jsonplaceholder.typicode.com/comments?_start={start}&_limit={limit}')
    return response.json()

In [76]:
def createCommentObjectData(comments):
    email = []
    title = []
    commentId = []
    body = []

    for comment in comments:
        commentId.append(comment['id'])
        title.append(comment['name'])
        body.append(comment['body'])
        email.append(comment['email'])

    return {
        "ID": commentId,
        "TITLE": title,
        "EMAIL": email,
        "BODY": body
    }

In [77]:
comments = getCommentRequest(start=0, limit=5)
commentData = createCommentObjectData(comments)

commentDataFrame = pd.DataFrame(commentData)

### Metodos de visualização de dados
- head
- shape
- describe

In [89]:
## Retorna 10 registros na tabela
comments = commentDataFrame.head(10)

## Retorna coluna/colunas especificas da tabela
comments = commentDataFrame['TITLE']

comments = commentDataFrame[['TITLE', 'EMAIL']]
display(comments)
## Retorna valor especifico da coluna TITLE
comments = titleSerie[5]

#W Retorna quantidade de linhas e colunas da tabela
comments = commentDataFrame.shape

## Retorna informações sobre os registros na tabela
comments = commentDataFrame.describe()

                                       TITLE                   EMAIL
0               id labore ex et quam laborum      Eliseo@gardner.biz
1  quo vero reiciendis velit similique earum  Jayne_Kuhic@sydney.com
2              odio adipisci rerum aut animi     Nikita@garfield.biz
3                             alias odio sit           Lew@alysha.tv
4      vero eaque aliquid doloribus et culpa       Hayden@althea.biz

KeyError: 5

### Visualização dos dados utilizando o metodo loc
.loc[linha, coluna]

In [ ]:
## Retorna o primeiro resgitro da tabela
firstComment = commentDataFrame.loc[0]

## Retorna do primeiro registro até o terceiro
comments = commentDataFrame.loc[0:2]

## Retorna uma linha da tabela filtrando um registro
filterComment = commentDataFrame['EMAIL'] == 'Eliseo@gardner.biz'
comments = commentDataFrame.loc[filterComment]

## Retorna um registro mostrando coluna especificas
comments = commentDataFrame.loc[filterComment, ['TITLE', 'EMAIL']]

## Retorna valor especifico da coluna
comments = commentDataFrame.loc[1, 'TITLE']

### Adicionar nova coluna

In [ ]:
## Criar coluna a partir de uma coluna existente
commentDataFrame['SLUG'] = commentDataFrame['TITLE']

## Criar coluna nova
commentDataFrame.loc[:, 'POST_ID'] = 1

### Adicionar novas linhas

In [80]:
newComments = getCommentRequest(start=5, limit=5)
commentData = createCommentObjectData(newComments)

newCommentDataFrame = pd.DataFrame(commentData)
comments = commentDataFrame.append(newCommentDataFrame)

### Excluir linhas e colunas
axis: eixo da coluna ou linha. 0 é a linha e 1 é a coluna

In [85]:
comments = commentDataFrame.drop('BODY', axis=1)
comments = commentDataFrame.drop(0, axis=0)

,ID,TITLE,EMAIL,BODY
1,2,quo vero reiciendis velit similique earum,Jayne_Kuhic@sydney.com,est natus enim nihil est dolore omnis voluptat...
2,3,odio adipisci rerum aut animi,Nikita@garfield.biz,quia molestiae reprehenderit quasi aspernatur\...
3,4,alias odio sit,Lew@alysha.tv,non et atque\noccaecati deserunt quas accusant...
4,5,vero eaque aliquid doloribus et culpa,Hayden@althea.biz,harum non quasi et ratione\ntempore iure ex vo...