# Ordenação de valores e filtragem de colunas

Ordenando dados usando o sort_values e filtragem de colunas

In [39]:
import pandas as pd

productsData = pd.read_csv('files/products.csv')
productsData = productsData.set_index('id')

In [67]:
## Ordernando produtos por preço - do menor para o maior
result = productsData.sort_values('price')

## Primeira forma filtragem de colunas
result[['title', 'price']].head()

## Filtragem de colunas usando a função filter
result.filter(items = ['title', 'price']).head()

                         title  price
id
17               Tree Oil 30ml     12
13  Fog Scent Xpressio Perfume     13
11                 perfume Oil     13
23  Orange Essence Food Flavou     14
22     Elbow Macaroni - 400 gm     14

In [68]:
## Ordernando produtos por preço - do maior para o menor
result = productsData.sort_values('discountPercentage', ascending=False)

## Usando like para buscar colunas que contenham os caracteres
result.filter(like = 'discount').head()

    discountPercentage
id
2                17.94
4                17.91
26               17.86
20               16.99
24               16.80

In [66]:
## Ordernando mais de uma coluna
result = productsData.sort_values(['stock', 'price'])
result[['title', 'price', 'stock']]