# Consultas SQL no Pandas

Busca e filtragem de dados com pandas e pandasql.\
Pandasql permite que consultar DataFrames do Pandas usando sintaxe SQL.

In [9]:
import pandas as pd
import pandasql as ps
import sqlite3 as sqlite

productsData = pd.read_csv('files/products.csv')
connection = sqlite.connect("./data/database.db")

## cursor.execute("CREATE TABLE products (title text, description text, price real, discountPercentage real)")

In [27]:
## Filtragem valores com pandas query
result = productsData.query("category == 'smartphones' and discountPercentage > 10")

In [11]:
## Função para consultas com pandasql
def query(sql): return ps.sqldf(sql, globals())

In [12]:
sql_query = '''
    SELECT * FROM productsData WHERE category = 'smartphones';
'''
result = query(sql_query)

In [13]:
sql_query = '''
    SELECT title, description, price, discountPercentage 
    FROM productsData WHERE category = 'smartphones'
    AND stock > 0 AND discountPercentage > 10;
'''
result = query(sql_query)

In [14]:
for index, row in result.iterrows():
    cursor = connection.cursor()
    sql_query = 'INSERT INTO products VALUES (?, ?, ?, ?)'
    cursor.execute(sql_query, [row.title, row.description, row.price, row.discountPercentage])
    cursor.close()

connection.commit()

In [20]:
cursor = connection.cursor()
sql_query = '''
    SELECT * FROM products;
'''
result = cursor.execute(sql_query)
result = result.fetchall()

## for product in result: print(product)

cursor.close()